In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [52]:
netflixdf = pd.read_csv('netflixunclean.csv')
incomedf = pd.read_csv('gdp.csv')
populationdf = pd.read_csv('population.csv')

In [53]:
df_merged = pd.merge(netflixdf, populationdf, on=['Country'], how='left')
fulldf = pd.merge(df_merged, incomedf, on=['Country'], how='left')
fulldf.count()

Country                          65
Total Library Size               65
No. of TV Shows                  65
No. of Movies                    65
Cost Per Month - Basic ($)       65
Cost Per Month - Standard ($)    65
Cost Per Month - Premium ($)     65
Population (2020)                64
Yearly Change                    64
Net Change                       64
Density (P/Km²)                  64
Land Area (Km²)                  64
Migrants (net)                   60
Fert. Rate                       64
Med. Age                         64
Urban Pop %                      64
World Share                      64
Country Code                     60
1990                             50
1991                             51
1992                             51
1993                             52
1994                             53
1995                             56
1996                             56
1997                             57
1998                             57
1999                             57
2000                             57
2001                             57
2002                             57
2003                             57
2004                             57
2005                             57
2006                             57
2007                             57
2008                             57
2009                             57
2010                             57
2011                             57
2012                             57
2013                             57
2014                             57
2015                             57
2016                             57
2017                             57
2018                             56
2019                              0
dtype: int64

In [54]:
fulldf.columns

Index(['Country', 'Total Library Size', 'No. of TV Shows', 'No. of Movies',
       'Cost Per Month - Basic ($)', 'Cost Per Month - Standard ($)',
       'Cost Per Month - Premium ($)', 'Population (2020)', 'Yearly Change',
       'Net Change', 'Density (P/Km²)', 'Land Area (Km²)', 'Migrants (net)',
       'Fert. Rate', 'Med. Age', 'Urban Pop %', 'World Share', 'Country Code',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019'],
      dtype='object')

In [55]:
fulldf.drop(['Land Area (Km²)', 'Migrants (net)',
       'Fert. Rate', 'Med. Age', 'Urban Pop %', 'World Share', 'Country Code',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2019', 'Population (2020)', 'Yearly Change',
       'Net Change', 'No. of TV Shows', 'No. of Movies'], axis=1, inplace=True)

Country                          60
Total Library Size               60
No. of TV Shows                  60
No. of Movies                    60
Cost Per Month - Basic ($)       60
Cost Per Month - Standard ($)    60
Cost Per Month - Premium ($)     60
Population (2020)                60
Yearly Change                    60
Net Change                       60
Density (P/Km²)                  60
Land Area (Km²)                  60
Migrants (net)                   60
Fert. Rate                       60
Med. Age                         60
Urban Pop %                      60
World Share                      60
GDP per Capita                   60
GNI per Capita                   60
dtype: int64

In [56]:
fulldf.columns

Index(['Country', 'Total Library Size', 'Cost Per Month - Basic ($)',
       'Cost Per Month - Standard ($)', 'Cost Per Month - Premium ($)',
       'Density (P/Km²)', '2018'],
      dtype='object')

In [68]:
fulldf = fulldf.dropna()
fulldf = fulldf[fulldf['2018'] >= 0]
fulldf = fulldf[fulldf['Density (P/Km²)'] >= 0]
fulldf = fulldf[fulldf['Cost Per Month - Basic ($)'] >= 0]
fulldf = fulldf[fulldf['Cost Per Month - Standard ($)'] >= 0]
fulldf = fulldf[fulldf['Cost Per Month - Premium ($)'] >= 0]
fulldf = fulldf[fulldf['Total Library Size'] >= 0]

In [69]:
fulldf.count()

Country                          56
Total Library Size               56
Cost Per Month - Basic ($)       56
Cost Per Month - Standard ($)    56
Cost Per Month - Premium ($)     56
Density (P/Km²)                  56
2018                             56
dtype: int64

In [51]:
fulldf.to_csv("C:\\Users\\teren\\Desktop\\cleaned_data.csv")